body {
	//width: @content-width;
}
#page-header {
	height: 160px;
	min-width: @content-width;
	background: #6dbfdf url(../images/bg/01.jpg) no-repeat top;
	.logo {
		a {
			float: left;
			width: 207px;
			height: 78px;
			margin: 39px 27px 20px 40px;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat;
		}
	}
	.slogan {
		float: left;
		width: 280px;
		padding: 0 0 20px 77px;
		margin: 64px 0 0;
		font-weight: 300;
		font-size: 28px;
		line-height: 1;
		color: @green;
		background: url(../images/icon/01.png) no-repeat 0 3px;
		p {
			margin: 0;
		}
	}
}
#col-main {
	float: right;
	width: 720px;
}
#col-left {
	width: 200px;
	float: left;
}
#wrapper {
	padding: 34px 0;
	min-width: @content-width;
	border-bottom: 10px solid @green;
	background: url(../images/bg/05.png) no-repeat bottom;
}
#page-footer {
	.box-shadow(inset 0 0 4px fade(#000,10%));
	border-top: 1px solid #d9d9d9;
	padding: 0 0 30px;
	min-width: @content-width;
	.banner {
		float: left;
		width: 222px;
		margin: 25px 0;
		padding: 0 31px 0 41px;
		text-align: center;
		font-size: 13px;
		line-height: 1.2;
		border-right: 1px solid @lightgreen;
		img {
			display: block;
			margin: 8px auto;
		}
		a {
			text-decoration: none;
		}
	}
	.copy {
		float: left;
		padding: 0 0 0 28px;
		color: @lightgreen;
		font-size: 12px;
		width: 580px;
		p {
			margin: 10px 0;
		}
	}
	.xart {
		float: right;
		text-align: right;
		padding: 10px 35px 0 0;
		font-size: 11px;
		text-transform: uppercase;
		a {
			color: @green;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			margin: -3px 0 0 8px;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e803';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,5%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}