.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 20px 0;
		li{
			float: left;
			font-size: 13px;
			margin-right: 15px;
			padding-left: 20px;
			color: @green;
			&:before{
				top: 3px;
				content: '\e802';
				color: @lightgreen;
			}
			a {
				text-decoration: none;
				color: @lightgreen;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-header {
	ul {
		.rul;
		.clearfix;
		text-align: center;
		padding: 0 0 40px;
		margin: 0 0 40px;
		background: url(../images/bg/04.png) no-repeat bottom;
		li {
			.rli;
			display: inline-block;
			font-weight: 300;
			font-size: 32px;
			line-height: 1;
			text-transform: uppercase;
			padding: 0 0 0 90px;
			white-space: nowrap;
			&:before{
				left: 29px;
				top: 1px;
				width: 30px;
				height: 30px;
				background: url(../images/icon/03.png) no-repeat;
				background-size: 100%;
			}
			&:first-child {
				padding-left: 0;
				&:before{
					display: none;
				}
			}
			&.act {
				a {
					color: @red;
				}
			}
			a {
				display: inline-block;
				position: relative;
				color: @green;
				text-decoration: none;
				&:before{
					.transition(0.4s);
					position: absolute;
					content: '';
					bottom: -5px;
					left: 0;
					width: 0%;
					height: 1px;
					background: @lightgreen;
				}
				&:hover{
					&:before{
						width: 100%;
					}
				}
			}
		}
	}
}
.mod_custom-contact {
	float: right;
	width: 260px;
	padding: 0 85px 20px 0;
	margin: 54px 37px 0 0;
	font-weight: 300;
	color: #fff;
	background: url(../images/icon/02.png) no-repeat right top;
	.phone {
		font-size: 38px;
		line-height: 1;
		white-space: nowrap;
	}
	nav {
		font-size: 20px;
		margin: 2px 0;
		a {
			color: #fff;
			text-decoration: none;
			&:hover{
				&:before{
					left: 3px;
				}
			}
			&:before{
				.fi;
				position: relative;
				float: right;
				content: '\e802';
				font-size: 16px;
				text-decoration: none;
				margin: 2px 0 0;
			}
		}
	}
}
.mod_custom-intro {
	min-width: @content-width;
	height: 710px;
	padding: 107px 0 0;
	background: #56bbaf url(../images/bg/02.jpg) no-repeat top;
	.items {
		margin: 0 0 0 -50px;
	}
	.item {
		position: relative;
		float: left;
		width: 300px;
		margin: 0 0 0 50px;
		&:before{
			position: absolute;
			left: -50px;
			top: 345px;
			content: url(../images/icon/03.png);
		}
		&:first-of-type {
			&:before{
				display: none;
			}
		}
		figure {
			a {
				.box-shadow(0 0 6px fade(#000,10%));
				position: relative;
				display: block;
				padding: 40px;
				text-align: center;
				background: fade(#fff,20%);
				text-decoration: none;
				color: #fff;
				overflow: hidden;
				img {
					display: block;
					margin: auto;
				}
				span {
					.transition(0.2s);
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					padding: 77px 0 0;
					font-size: 36px;
					line-height: 1;
					font-weight: 300;
					text-shadow: 1px 1px 0 fade(#000,70%);
					text-transform: uppercase;
					background: fade(@green,90%);
					-webkit-opacity: 0;
					-moz-opacity: 0;
					opacity: 0;
					filter:alpha(opacity=0);
					&:before{
						.fi;
						.transition(0.4s);
						position: relative;
						left: -500px;
						display: block;
						margin: auto;
						content: '\e802';
						font-size: 84px;
						line-height: 1;
						margin: 0 0 28px 9px;
					}
				}
				&:hover {
					span {
						-webkit-opacity: 1;
						-moz-opacity: 1;
						opacity: 1;
						filter:alpha(opacity=1);
						&:before{
							left: 0;
						}
					}
				}
			}
		}
		.mod-title {
			text-align: center;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 34px;
			line-height: 1;
			margin: 36px 20px 42px;
			color: @green;
			height: 68px;
			line-height: 68px;
			span {
				display: inline-block;
				line-height: 1;
			}
		}
		.contacts {
			ul {
				.rul;
				height: 27px;
				margin: 0 0 -14px;
				text-align: center;
				border-top: 13px solid #7ce6d9;
				background: url(../images/bg/03.png) no-repeat top;
				li {
					.rli;
					.transition(0.2s);
					.border-radius(50%);
					.box-shadow(inset 4px 4px 20px fade(#000,15%));
					position: relative;
					z-index: 1;
					top: -30px;
					width: 46px;
					height: 46px;
					margin: 0 4px;
					border: 4px solid #7ce6d9;
					display: inline-block;
					text-indent: -9999px;
					background: #6cdccf;
					color: @green;
					cursor: pointer;
					&:hover{
						color: #fff;
						background: @lightgreen;
					}
					&.on {
						color: #fff;
						background: @green;
					}
					&:before{
						.fi;
						position: absolute;
						content: '';
						top: 0;
						left: 0;
						width: 100%;
						line-height: 38px;
						text-indent: 0;
						font-size: 20px;
					}
					&.info:before {
						content: '\e804';
					}
					&.phone:before {
						font-size: 18px;
						content: '\e805';
					}
					&.open:before {
						font-size: 22px;
						content: '\e806';
					}
				}
			}
		}
		.panes {
			position: relative;
			.pane {
				.transition(0.5s);
				position: absolute;
				top:0 ;
				left: 0;
				width: 100%;
				font-size: 18px;
				line-height: 1.2;
				font-weight: 300;
				padding: 0 20px;
				text-align: center;
				color: #fff;
				background: @green;
				max-height: 0px;
				overflow: hidden;
				strong {
					font-weight: 600;
				}
				a {
					color: lighten(@cl,10%);
				}
				&.on {
					max-height: 200px;
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
		}
	}
}
.mod_custom-map {
	.clearfix;
	min-width: @content-width;
	.map {
		height: 374px;
		width: 58%;
		float: left;
	}
	.content {
		position: relative;
		float: right;
		width: 42%;
		text-align: left;
		color: @green;
		font-size: 18px;
		line-height: 1.2;
		padding: 56px 20px 0 53px;
		&:before{
			position: absolute;
			content: '';
			right: 100%;
			top: 0;
			border: 187px solid transparent;
			border-left-width: 0;
			border-right-width: 60px;
			border-right-color: #fff;
		}
		strong {
			font-weight: 600;
		}
		.mod-title {
			font-weight: 300;
			font-size: 28px;
			line-height: 1.2;
			color: @lightgreen;
		}
		ul {
			.rul;
			margin: 30px 0;
			li {
				.rli;
				margin: 22px 0;
				padding: 0 0 0 60px;
				&:before{
					top: -3px;
				}
				&.home {
					&:before{
						content: url(../images/icon/pin_home.png);
					}
				}
				&.hospital {
					&:before{
						content: url(../images/icon/pin_hospital.png);
					}
				}
			}
		}
	}
}
.mod_menu-footer {
	float: left;
	width: 778px;
	padding: 28px 0 0 28px;
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			margin: 0 10px 0 0;
			color: @green;
			&:before{
				position: relative;
				top: 2px;
				content: '/';
				font-size: 18px;
				margin: 0 10px 0 0;
			}
			&:first-child {
				&:before{
					display: none;
				}
			}
			a {
				color: @green;
			}
		}
	}
}
.mod_menu-sidebar {
	ul {
		.rul;
		margin: 20px 0;
		li {
			.rli;
			font-size: 18px;
			line-height: 1.2;
			padding: 0 0 0 20px;
			margin: 12px 0;
			&:before{
				content: '\e802';
				font-size: 14px;
				color: @lightgreen;
				top: 4px;
			}
			a {
				text-decoration: none;
				color: @green;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				&:before{
					color: @green;
				}
				&>a {
					font-weight: bold;
				}
			}
		}
	}
}