
.icon-down-outline:before { content: '\e800'; } /* '' */
.icon-left-outline:before { content: '\e801'; } /* '' */
.icon-right-outline:before { content: '\e802'; } /* '' */
.icon-up-outline:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-plus-1:before { content: '\e808'; } /* '' */