@font-face {
  font-family: 'pvb-icons';
  src: url('../font/pvb-icons.eot?74261195');
  src: url('../font/pvb-icons.eot?74261195#iefix') format('embedded-opentype'),
       url('../font/pvb-icons.woff?74261195') format('woff'),
       url('../font/pvb-icons.ttf?74261195') format('truetype'),
       url('../font/pvb-icons.svg?74261195#pvb-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pvb-icons';
    src: url('../font/pvb-icons.svg?74261195#pvb-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pvb-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-outline:before { content: '\e800'; } /* '' */
.icon-left-outline:before { content: '\e801'; } /* '' */
.icon-right-outline:before { content: '\e802'; } /* '' */
.icon-up-outline:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-plus-1:before { content: '\e808'; } /* '' */